body{
    background-color: #f3f3f3;
    font-family: 'Otomanopee One', sans-serif;
}

h1 {
    font-size: 50px;
    margin-left: 5px;
}
.colorwillbe{
    color: purple;
}
section{
    display: flex;
}
.widthwillbe{
    width: 50%;
}
.widthwillbe img{
    width: 100%;
    height: auto;;
}